* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --white: #FFF;
  --black: #000;
  --dark-900: #101026;
  --dark-700: #1d1d2e;
  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #FF3f4b;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none; /* Removi o text-rendering: none, pois pode afetar a renderização da fonte */
}

body{
  background: var(--dark-700);
  color: var(--white); /* Adicionei cor ao texto do body para melhor contraste */
}

body,
input,
textarea,
select,
button {
  font-family: sans-serif; /* Simplifiquei a fonte */
  font-weight: 400;
  font-size: 1rem;
}